body {
    font-family:Courier;
    margin-top: 60px;
    background-color:#98fb98;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

.main{
    text-align:center;
    background-color:green;
}
.main2{
    text-decoration:underline;
}